<body>
<h1 class = "head">I'm Batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
 <script type="text/javascript">
	$.backstretch("https://images3.alphacoders.com/723/72397.jpg");
</script>
</body>