<html>
	<body>
		<h1>Batman vs Superman ¿Cual es tu super heroe favorito?</h1>
		<p>Find me in app/views/pages/batmanvssuper.html.erb</p>
		<a href="<%= pages_batman_path %>"> 
			<div id="batman">
			</div>
		</a>

		<a href="<%= pages_superman_path %>"> 
			<div id="superman">
			</div>
		</a>
	</body>
</html>