<body>
	<h1 class = "head">This looks like a job for Superman</h1>
	<p>Find me in app/views/pages/suprman.html.erb</p>
  	<script type="text/javascript">
	$.backstretch("https://wallpaperscraft.com/image/superhero_superman_bright_77203_3840x2400.jpg");
	</script>
</body>